


*, *::before, *::after {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

body {
font-family: sans-serif;

}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.title svg {
  margin: 0 20px;
  transform: translateY(5px);
  
}
.container {
  background-color: #ebebeb;
  padding: 50px 30px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  width: 100%;
  background-color:#f39c12;
  border-radius: 20px;
  padding: 30px ;
}
.app-selector {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.color-picker{
  background-color: #fff;
  flex: 0 0 48%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.color-picker__head {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.color-picker__body {
  padding: 10px 15px 25px;
  display: flex;
  flex-wrap: wrap;
}
.color-picker__body span {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  text-align: center;
  border: 5px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}
.color-picker__body span:hover {
  opacity: 0.85;
  transform: rotate(20deg);
}
.color-picker__body span.active {
  border: 5px solid #000;
}
.color-picker__body span.color-picker--red {
  background-color: red;
}
.color-picker__body span.color-picker--green {
  background-color: green;
}
.color-picker__body span.color-picker--blue {
  background-color: blue;
}
.color-picker__body span.color-picker--yellow {
  background-color: yellow;
}

.size-picker {
  flex: 0 0 48%;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.size-picker__head {
  padding: 10px 15px;
  background-color: #9b59b6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-size: 20px;
}
.size-picker__body {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.size-picker__body button{
  display: inline-block;
  text-decoration: none;
  background-color: #16a085;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.size-picker__body button:hover {
  transition: 0.4s;
  transform: scale(1.04);
}
.app-type {
  background-color: #fff;
  padding: 20px 15px;
}
.app-type__context {
  margin-bottom: 10px;
  
}
/* .app-type__context span {
}
.app-type__input {

} */
.app-type__input {
  padding:  10px;
  font-size: 14px;
  
}
.app-type__input--red {
  border: 3px solid red;
  color:red;

}
.app-type__input--blue {
  border: 3px solid blue;
  color:blue;

}
.app-type__input--green {
  border: 3px solid green;
  color:green;

}
.app-type__input--yellow {
  border: 3px solid yellow;
  color:yellow;

}



.btn-reset{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.btn-reset button {
  text-decoration: none;
  background-color: #2980b9;
  color: #fff;
  padding: 8px   15px;
  font-size: 18px;
  border-radius: 5px;

  border: none;
  outline: none;
}
.btn-reset button:hover {
  opacity: 0.85;
}